html{
    box-sizing: border-box;
}

h2, h4, p{
    margin: 0;
}

body{
    padding: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#card {
    width: 900px;
    height: 400px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow: hidden;
}

#top-section{
    width: 100%;
    height: 45%;
    padding: 25px;
}

#bottom-section{
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-section{
    height: 100%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 25px;
}

#bottom-right-section{
    height: 100%;
    width: 50%;
    display: inline-block;
    background-color: #30d4d2;
    padding: 25px;
}

#top-section h2{
    color: #2ab2af;
    margin-bottom: 15px;
}

#top-section h4{
    color: #c0df34;
    margin-bottom: 10px;
}

#top-section p{
    color: #98a6bd;
}

button{
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;

    &:hover{
        background-color: #8ba515;
        font-weight: bold;
    }
}

#bottom-right-section li{
        padding-bottom: 0.2em;
        list-style-type: none;
    }

#price{
    font-weight: bolder;
    font-size: 1.4rem;
    display: inline-block;
}

#bottom-left-section h4{
    margin-bottom: 15px;
}

#price-frequency{
    display: inline-block;
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.8;
    margin-left: 5px;
}

#price-container{
    margin-bottom: 10px;
}

.per-day{
    margin-bottom: 2em;
}

@media only screen and (max-width: 600px) {
    #card{
        border: 2px solid #30d4d2;
        max-width: 285px;
        height: 100%;
    }

    #top-section{
        height: 50vh;
    }

    #bottom-section{
        display: grid;
    }

    #bottom-left-section{
        width: 100%;
    }

    #bottom-right-section{
        width: 100%;
    }

    #bottom-right-section li{
        padding-bottom: 0.8em;
        list-style-type: none;
    }
    
    button{
        width: 18em;
    }

    body{
        padding: 0.5em;
    }
}
